*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  color: #333;
  background: #f4f4f4;
}

header {
  background: #0f766e;
  color: white;
  padding: 1rem 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.2rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

#hero {
  background: #e0f2f1;
  text-align: center;
  padding: 4rem 2rem;
}

#hero .btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.7rem 1.5rem;
  background: #0f766e;
  color: white;
  border: none;
  border-radius: 6px;
  text-decoration: none;
}

section {
  padding: 3rem 2rem;
  max-width: 900px;
  margin: auto;
}

.project-card {
  background: white;
  margin-bottom: 1rem;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  
}
a{
  text-decoration: none;
  color: #0f766e;
}
a:hover{
  text-decoration: underline;
  color: #0f766e;
}

.certify-cards {
  background: white;
  margin-bottom: 1rem;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  
}
.work-link{
  text-decoration: none;
}
.work-link :hover{
  text-decoration: underline;
}

form input, form textarea {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

form button {
  padding: 0.8rem 2rem;
  background: #0f766e;
  color: white;
  border: none;
  border-radius: 6px;
}
.social-info {
  font-size: 1.5rem; /* Increase size */
}

.social-info a {
  color: #222; /* Make links not blue */
  text-decoration: none;
}

.social-info i {
  font-size: 1.5rem; /* Directly set icon size if needed */
  color: #222; /* Color for icon itself */
  margin-right: 1rem; /* Optional spacing between icons */
}


footer {
  text-align: center;
  padding: 1rem;
  background: #0f766e;
  color: white;
}
